<nav>
	<ul>
		<li>Welcome</li>
		<li><a href="#" >Sign Up</a> | <a href="#">Log In</a></li>
		<li class="right">X Items In Cart $XXX.XX</li>	
	</ul>
</nav>

<p><%= image_tag("1500x200.png", class: "header_image") %></p>

<nav id="content_nav">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Products', products_path %></li>
		<li><a href="#">Newsletter</a></li>
		<li><a href="#">Events</a></li>
		<li><a href="#">Game Demos</a></li>
		<li><%= link_to 'About Us', aboutus_path %></li>
		<li class="right">
            <%= form_tag search_results_path, method: :get do %>
              <%= text_field_tag :search_keywords %>
              <%= select_tag(:category_id, options_for_select([['', 0], [options_from_collection_for_select(Category.all, :id, :name)]])) %>
              <%= submit_tag 'Search' %>
            <% end %>
		</li>
	</ul>
</nav>