<%= render 'header' %>

<%= render 'products/sidebar' %>

<div id="content">
  <% @aboutus = AboutUs.first %>
  <h2><%= @aboutus.title%></h2>
  <p><%= @aboutus.body %></p>
</div>

<br />
<br />
<br />

<div>
	<% @contactus = ContactUs.first %>
	<h2>Contact Us</h2>
	<p><%= @contactus.phone_number %></p>
	<p><%= @contactus.email %></p>
	<p><%= @contactus.address %></p>
	<p><%= @contactus.postal_code %></p>
</div>
