<nav id="side_bar">
	<li><a href="#">Coming Soon</a></li>
	<li><%= link_to 'Boardgames', boardgames_path %></li>
	<li><%= link_to 'Trading Cards', tradingcards_path %></li>
	<li><%= link_to 'Miniatures', miniatures_path %></li>
	<li><%= link_to 'Role Playing', roleplaying_path %></li>
	<li><%= link_to 'Accessories', accessories_path %></li>
</nav>